html {
  background-color: white
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: rgba(204, 76, 49, 0.94);
  font-family: helvetica;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.5em;
  text-transform: capitalize;
}

a {
  color: rgb(218, 194, 34);
  text-decoration: none;
}
