body {
  background-color: rgba(204, 76, 49, 0.94);
  font-family: helvetica, arial;
}

h1 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.5em;
  text-transform: capitalize;
}

a {
  color: rgb(218, 194, 34);
  text-decoration: none;
}
